.inputs {

    width: 50%;
    margin: 0
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
   
  }
  
  .form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }
  
  .form button {
    display: block;
    margin: auto;
    text-align: center;
    align-items: center;
    align-content: center;

    border: none;
    background: rgb(4, 209, 255);
    cursor: pointer;
    margin: 0;
    width: 60%;
    justify-content: center;
  }

.buttonRegister {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}